<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                By LHL June 26 '17 Cohort - JV Cortez
                <p><a href="/urls">Home</a></p>

            </a>
        </div>
    </div>
</nav>