<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Lighthouse Labs June 26 Cohort - Juan Victor Cortez
                <% if (username !== undefined) { %>
                <form action="/logout" method="POST" style="margin: 25px">
                    <label class="logoutLblPos">
                    <input name="logoutbutton" type="submit" id="submit2" value="log out">
                </label>
                </form>
                <% } else { %>
                <form action="/login" method="POST" style="margin:25px;">
                    <label="username">Enter Username Here</label>
                    <input id="username" type="text" name="username" placeholder="Type Username Here" style="width: 300px;">
                    <input type="submit" value="Enter">
                </form>
                <% } %>  
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>

    </div>
</nav>