<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tiny App Home Page</title>
</head>

<body>
    <header>
        <% include partials/_header %>
    </header>
    <center>
        <h1>Hi there! Welcome to my TinyApp!</h1>
        <% if (user_id) { %> 
        <h2> These are the URLs!</h2>
                        <ul>
                    <% for (let url in urls) { %>
                        <p>
                            <%= url %> - <%= urls[url].longURL %>
                                    <a href="/urls/<%= url %>">EDIT</a>
                                    <form method="POST" action="/urls/<%= url %>/delete">
                                    <input type="submit" value="Delete"></form>
                        </p>
                        <% } %>
                            <p>Shrink URL here!</p>
                            <form method="GET" action="/urls/new">
                            <input type="submit" value="Enter"></form>
                            <form action="/logout" method="POST" style="margin: 25px">
                             <label class="logoutLblPos">
            <input name="logoutbutton" type="submit" id="submit2" value="log out"></label>
                            </form>
                </ul>
        <% } else { %> 
        <p> Please <a href="/login">log in</a></p>
        <% } %>
        

    </center>
</body>

</html>