<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header> 
        <% include partials/_header %>
    </header>
    <h1>Here is your new URL!</h1>
    <p> Hi there! Bone Saw is ready!</p>
    <ul>
        <li><%= shortURL %>, <%= longURL %></li>
    </ul>
</body>
</html>