<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header> 
        <% include partials/_header %>
    </header>
    <h1>These are the urls!</h1>
    <p> Hi there! Bone Saw is ready!</p>
    <h2>Here are my links!</h2>
    <ul>
        <% urlDatabase.forEach(function(url)
        <li>Website Address! - shortened url</li>
    </ul>
</body>
</html>