<!DOCTYPE html>
<html lang="en">

<head><center>Welcome to Tiny App</center></head>

<body style="font-size:20px; padding:50px;">
    <p><a href="/urls">Home</a></p>
    <center>
    <p>Please enter your email and a password to register</p>
    <form action="/register" method="POST" style="margin:25px;">
      <label for="email">Enter an email:</label>
      <input id="email" type="text" name="email" placeholder="Email here" style="width: 300px" required>
      <label for="password">Enter a password:</label>
      <input id="password" type="password" name="password" placeholder="Password here" style="width: 300px" required>
      <input type="submit" value="Register">
    </form>
    </center>
</body>

</html>